<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library Management System</title>
    <link href="LoginStyles.css" rel="stylesheet">
</head>
<body>
<h1>Log in Page</h1>

<ul>
    <li><a href="#Create account">Create account</a></li>
    <li><a href="#Find book">Find book</a></li>
    <li><a href="#Home page">Home page</a></li>
</ul>

<form action="/action_page.php">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Log in">
</form>

<p>Press the "Log in" button to go to the library service.</p>

</body>
</html>