h1 {
    font-family: Verdana, sans-serif;
    text-align: center;
    color: #243348;
}

ul {
    text-align: center;
    list-style-type: none;
    background-color: #5D7894;
    padding: 10px 0;
}

ul li {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}

ul li a {
    color: #243348;
    text-decoration: none;
}

form {
    text-align: center;
}

label {
    color: #243348;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 300px;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    background-color: #CCA384;
    color: #243348;
    font-family: Verdana, sans-serif;
    border-radius: 10px; /* zaokrąglenie */
}

input[type="submit"] {
    width: 100px; /* Adjust as needed */
    border-radius: 10px; /* zaokrąglenie */
}

p{
    text-align: center;
}

body {
    background-color: #EDDED8;
    font-family: Verdana, sans-serif;
}
